@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

:root {
    --dark-color:#0f3adb;
    --light-color: #dae0f7;
    --tertiary-color:#8897cf;
    --primary-font:'Days One', sans-serif;
   --secondary-font: 'Roboto', sans-serif;
}
body {
    background-color: var(--light-color);
}
label{
    color: var(--tertiary-color);
    font-family: var(--secondary-font);
}
.container{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 30%;
    padding: 50px;
    background-color: white;
    width: 30%;
    margin: 0 auto;
    margin-top: 50px;
}
.flex{
    display: flex;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.align-center{
    align-items: center;
}

.hr{
    width: 100%;
    height: 1px;
    background-color: black;
    margin-right: 20px;
}
.btn{
    background-color: var(--dark-color);
    color: white;
    border: none;
    font-size: 50px;
    padding: 20px;
    text-align: center;
    border-radius: 50%;
}
.btn:hover{
    background-color: var(--tertiary-color);
}
.btn:focus{
    background-color: black;
}
.form-container{
    display: flex;
    padding-bottom: 10px;
}
.form-group{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    align-items: center;
}
.form-group input{
    width: 70px;
    height: 30px;
    font-size: 18px;
    font-family: var(--secondary-font);
    margin-top: 8px;
    outline: none;
    border: var(--light-color) 1px solid;
    border-radius: 8px;
    color: var();
    text-align: center;
}

.age{
    font-family: var(--primary-font);
    line-height:0%;
}
.age > .number{
    padding-right: 5px;
    color: var(--dark-color);
}
.age h1{
    font-size: 42px;
}
@media (max-width:900px) and (min-width:601px){
    .container{
        width: 40%;
    }
    .btn{
        font-size: 40px;
    }
}

/* Mobile */
@media (max-width:600px) {
    .container{
        width: 60%;
    }
}

@media (max-width:400px) {
    .container{
        width: 65%;
    }
    .btn{
        font-size: 30px;
        padding: 10px;
    }
    .form-group input{
        width: 60px;
    }
    .age h1{
        font-size: 36px;
    }
}